# Build artifacts
build
dist
html
rust/target
*.egg-info
*.so

*.sw?

# Environments
.pixi
venv
.venv

# Caches
*.DS_Store
*.ipynb_checkpoints
__pycache__/
.vs/
.virtual_documents
.hypothesis
.pytest_cache
.mypy_cache
docs/generated/
.ruff_cache

# Editor settings
.idea/
.vscode/

# Data files
*.data
*.dat
*.csv
*.xye
*.h5
*.hdf5
*.hdf
*.nxs
*.raw
*.cif
*.rcif
*.ort
*.zip
*.sqw
*.nxspe
